html {
    font-size: 15px;
}

:root {
    --w__desk-s: 70rem; /* Desktop Standart Width */
    --w__desk-m: 80vw;  /* Desktop Mini Width */
    --w__tabl: 85vw;
    --w__mobi: 90vw;
    --c__accent: var(#ff5a5a);
    --c__pass: var(#92f19a);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

body > *, header {
    width: 100%;
    
}



body > * > div > div, header > div, footer > div, .navcenter .bgnav div{
    margin: 0 auto;
}

body > * > div > div {
    width: var(--w__desk-s);
}

/* menu mobile */

nav{
  display: none;
}

.navheading > input{
  display: none;
}

/* header */

.bgheader{
    background: #FD5102;
}

.bgheader > div{
    display: flex;
    flex-direction: row;
    align-content:center;
}

.phone, .map, .links{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin:0px auto;
    color: white;
}

.phone > a, .map > a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.links > a{
    margin-left: 20px;
}

/* navigation */
.navcenter{
    height: 100vh;
}

 .bgnav{
    background:url(img/navbg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
} 

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.nav img{
    margin-left: 60px;
}

.navmain > a{
    text-decoration: none;
    color: white;
    margin-left: 13px;
}

.navmain > a:hover{
    color:#FD5102;
}

/* heading */

.navheading{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.navheading >h1{
    font-size: 6em;
    margin-top:200px;
    text-align: center;
}

.navheading > p{
    font-size: 1.3em;
    margin-top: 30px;
    width: 80%;
    text-align: center;
    line-height: 25px;
}

button{
    margin-top:30px;
    padding: 15px;
    border-radius: 10px;
    background-color: #FD5102;
    cursor: pointer;
}

button > a{
    color: white;
    text-decoration: none;
}

button > a:hover{
    color:#FFE501;
}

/* greatings */
.greating{
    min-height: 550px;
}
.bggreat > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    margin-top: 70px;
    text-align: center;
}

hr{
    border: none;
    background-color: #FD5102;
    color: #FD5102;
    height: 2px;
    margin: 20px auto;
    width: 50px;
}

.bggreat > div > p {
    margin-top: 20px;
    width: 70%;
    text-align: center;
    color: black;
    line-height: 25px;
}

.egg{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.egg > div > img{
    position: relative;
    top:-25px;
}

.egg > div{
    border: #f4f4f4 solid 2px;
    margin-left: 20px;
}

.egg > div > h3{
    color: #FD5102;
    margin: 5px 20px 20px 20px;
}

.egg > div > p{
    color: #776c6e;
    font-size: 0.8em;
    padding: 20px;
}

/* slider */
.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
  }

  .slider__control_show {
    display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .slider__item>div {  
    display: flex;
    align-items: flex-end;
    font-size: 2.5em;
    text-align: center;
    color: white;
  }

  /* Coaches */

  .coachesbg > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 70px;
  }

  .coaches{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
  }

  .coaches > div > h4{
      margin-top: 20px;
      font-size: 1.1em;
      text-align: center;
  }

  .coaches > div > h4 > span{
      color: #FD5102;
      font-size: 0.8em;
      margin-left: 2px;
  }

  .coaches > div > p{
      margin-top: 20px;
      text-align: center;
  }

  /* reviews */
.testbg{
    background: url(img/reviewsbg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container > h2{
    color: white;
    padding-top:70px;
}

.container > hr{
    color: white;
    background-color: white;
}

.block-one-example {
    position: relative;
}

.container {
	width: 90%;
    margin:0 auto;
    min-height: 500px;
}

.inner-testimonial {
	text-align: center;
	
}

.inner-testimonial > img{
	max-width: 128px;
	margin:0 auto 15px;
	opacity: 0;
	-webkit-transition:all 1.3s linear;
	transition:all 1.3s linear;
}

.owl-item.active .inner-testimonial > img{
	-webkit-transition:all 1.3s linear;
	transition:all 1.3s linear;
}

.owl-item.active .inner-testimonial > img.full-opacity {
	opacity:1;
	-webkit-transition:all 0.3s linear;
	transition:all 0.3s linear;
}

h3.city-name {
	padding:10px 0;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: white;
}

/*p*/.text-testimonial {
	padding:10px 0;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
    line-height: 25px;
    color: white;
}

.block-items {
	cursor: default;
}

/*Изменяем внешний вид элементов управления (точки) */
.owl-theme .owl-dots .owl-dot span {
	width: 14px;
	height: 14px;
}

.owl-theme .owl-dots .owl-dot.active span{
	width: 18px;
	height: 18px;
}

/*Стрелки*/
.owl-my-nav {
	position: absolute;
	width: 100%;
	height: 100%;
}

.owl-my-nav .owl-prev,
.owl-my-nav .owl-next{
	position: absolute;
	width: 60px;
	top:34%;
	font-size: 100px;
	z-index: 20;
	cursor:pointer;
	opacity: 0.5;
	-webkit-transition:opacity .3s ease;
    transition:opacity .3s ease;
    color: white;
}

.owl-my-nav .owl-prev:hover,
.owl-my-nav .owl-next:hover{
	opacity: 0.8;
}

.owl-my-nav .owl-prev {
	left: 50px;
}

.owl-my-nav .owl-next {
	right: 50px;
	text-align: right;
}

/* footer */

.footerbg {
    background:#191919;
}

.footerbg > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerbg > div > div > a:visited{
    color: white;
}

.footerbg > div > div:nth-child(3){
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

/* subfooter */

.subfooterbg{
    background: #191919;;
}

.subfooter > p{
    color: white;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    body > * > div > div {
        width: var(--w__desk-m);
    }    
    
    .navmain{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    .navmain > a{
      margin-top: 10px;
    }
    
    .coaches{
      flex-wrap: wrap;
    }
    
    .coaches > div{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 15px;
    }
    
    .coaches > div > h4{
      margin-left: 20px;
    }
  }

@media (max-width: 600px){
  body > * > div > div {
    width: var(--w__mobi);
  }
  
  nav{
    display: block;
    position: relative;
    right: -100px;
  }
  
  

  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham3 .top {
    stroke-dasharray: 40 130;
  }
  .ham3 .middle {
    stroke-dasharray: 40 140;
  }
  .ham3 .bottom {
    stroke-dasharray: 40 205;
  }
  .ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
  }
  .ham3.active .middle {
    stroke-dashoffset: -102px;
  }
  .ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
  }
  
  #menu-checkbox {
    display: none; /* чекбокс скрыт */
  }
  .main-menu {
    /* пункты меню скрыты */
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -190px; top:10px; 
  }
  .main-menu li {
    /* пункты меню расположены вертикально */
    /* каждый имеет ширину 100% */
    font-size: 1em;
    display: block;
    width: 100%;
  }
  .main-menu a {
    /* немного стилизуем ссылки */
    display: block;
    color: white;
    padding: .5em;
    text-decoration: none;
  }
  .main-menu a:hover {
    text-decoration: underline;
  }
  .toggle-button {
    display: block;
    /* не забываем явно указать каким должен быть курсор */
    cursor: pointer;
    background-color: transparent;
    color: #fff;
  }
  .toggle-button:after {
    /* получаем данные из атрибута data-open в html */
    content: attr(data-open);
    display: block;
    padding: 10px 30px;
  }
  #menu-checkbox:checked + nav[role="navigation"] .main-menu {
    /* когда чекбокс активен меню становится видимым */
    display: block;
  }
  #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
    content: attr(data-close);
  }
  
  
  .navheading > h1{
    font-size: 3em;
    text-align: center;
    margin-top: 30px;
  }
  
  .navcenter{
    height: 100%;
  }
  
  button{
    margin-bottom: 20px;
  }
      
  .bgheader > div, .nav  {
      display: none;
  }    
  
  
  .navheading > p{
    max-width: 100%;
    margin: 10px;
  }
  
  .bggreat > div > p{
    max-width: 320px;
    margin: 0px 10px;
    width: 100%;
  }
  
  .egg{
    flex-direction: column;
  }
  
  .egg > div{
    margin: 0px;
    margin-bottom: 30px;
  }
  
  .egg > div > h3{
    padding: 0px;

  } 
  
  .egg > div > p{
    margin-bottom: 20px;
  }
  
  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .coaches > div{
    flex-direction: column;
  }
  
  .owl-my-nav {
   display: none;
  }
  
  .text-testimonial{
   font-size: 1em; 
  }
  
  .owl-stage-outer{
    height: 100%;
  }
  
  .footerbg > div{
    flex-direction: column;
  } 
  
  
}



